<!doctype html>
<html>
<head>
  <title>Media Spectrum</title>

 
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
  {% block head %}
  {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}







<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block script %}
{% endblock %}
</body>

</html>