{% extends 'base.html'%}

{% block head %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/static/js/wordcloud.js"></script>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
{% endblock %}

{% block content %}
<input type='hidden' value='{{site_url}}' id='hiddendiv'>

<div class="container">
    <div class="row">
        <!-- will contain graphs-->
        <div class="col-xs-12 col-md-9 col-md-offset-1" id="displaydiv">
            <canvas id="myChart"></canvas>
            <div id="chartLegend" class="chart-legend"></div>
        </div>
    </div>
    <div class="row">
    <div class= "col-xs-12 col-md-8">
        <form class="form-horizontal" id="word-count">
        <fieldset>

        <legend>Compare</legend>

        <!-- Search input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="word">Choose a Word</label>
          <div class="col-md-4">
            <input id="word" name="word" type="search" placeholder="word" class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Multiple Checkboxes -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="checkboxes">Choose SItes to Compare</label>
          <div class="col-md-4">
            {% for site in sites %}
                <div class="checkbox">
                    <label for={{ sites[site]['name'] }} >
                        {% if site == site_url %}
                            <input type="checkbox" name="sites" id="#"{{ sites[site]['name'] }} value= {{ site }} checked='checked'>
                            {{ sites[site]['name'] }}
                        {%else%}
                            <input type="checkbox" name="sites" id="#"{{ sites[site]['name'] }} value= {{ site }}>
                            {{ sites[site]['name'] }}
                        {% endif %}
                    </label>
                </div>
          
                {% endfor %}
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"></label>
          <div class="col-md-4">
            <button name="singlebutton" class="btn btn-primary">See Results</button>
          </div>
        </div>

        </fieldset>
    </div>
</div>

</div> 

{% endblock %}

{% block script %}

<!-- <script type="text/javascript" src="/static/js/wordcloudpage.js"></script> -->
<script type="text/javascript" src="/static/js/wordcountpage.js"></script>

{% endblock %}